In [102]:
# Importing necessary libraries
import pandas as pd
import re
import csv

## Reading the ORES Predictions CSV File into a Pandas DataFrame
This segment reads a CSV file, ores_predictions.csv, into a Pandas DataFrame for further processing and analysis. Additionally, include some headers.

In [103]:



# Create a list of the header values
headers = ["title", "rev_id", "prediction"]


data_rows = []
with open('../data/ores_predictions.csv', 'r') as file:
    csv_reader = csv.reader(file)
    data_rows = [row for row in csv_reader]

# Rewrite the data with headers to the same file
with open('../data/ores_predictions_with_headers.csv', 'w', newline='') as file:
    csv_writer = csv.writer(file)
    csv_writer.writerow(headers)  # Write the headers first
    csv_writer.writerows(data_rows)  # Write the existing data rows below the headers

    
# Reading the CSV file
df = pd.read_csv('../data/ores_predictions_with_headers.csv')

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22157 entries, 0 to 22156
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   title       22157 non-null  object
 1   rev_id      22157 non-null  int64
 2   prediction  22157 non-null  object
dtypes: int64(1), object(2)
memory usage: 519.4+ KB

## Defining a List of US States for Data Cleaning
This part defines a list of US states, for use in data cleaning and filtering operations. The list includes the names of all 50 states in the United States.

In [105]:

# List of US states
us_states = [
    "Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut",
    "Delaware", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa",
    "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan",
    "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire",
    "New Jersey", "New Mexico", "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma",
    "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", "Tennessee",
    "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming"
]

## Creating a Function to Clean Titles and Identify US States
This section presents a Python function named clean_title. The function takes a title as input, cleans the title by removing leading and trailing whitespaces, and checks for the presence of a US state. It returns the cleaned title if a US state is found; otherwise, it returns None.

In [106]:
# Function to clean the title and check for the presence of a US state
def clean_title(title):
    title = title.strip()
    parts = re.split(r',\s*', title)
    if parts[-1].title() in us_states:
        return ", ".join(parts[-2:]).strip()
    else:
        return None

## Applying Title Cleaning Function to DataFrame Columns
This block applies the clean_title function to the 'title' column of the DataFrame. It cleans the titles and updates the 'title' column with the cleaned versions, removing any irrelevant information and retaining only the city and state names.

In [107]:
# Applying the cleaning function to the 'title' column
df['cleaned_title'] = df['title'].apply(clean_title)

## Getting rows having titles without US states
Printing the rows which dont have US states in their names

In [108]:
# Prniting out rows that do not contain a US state
removed_rows = df[df['cleaned_title'].isnull()]  # Storing the removed rows

# Printing the rows to be removed - probable
print("The following rows can be removed, as they dont have state in their name:")
print(removed_rows)

The following rows can be removed, as they dont have state in their name:
                                          title      rev_id prediction
1062                                  UtqiaÄ¡vik  1134590975       Stub  \
1901                                Los Angeles  1180364321          B
2029                                  San Diego  1180363657         GA
2032                              San Francisco  1180315260          B
2144                  2020 United States census  1179894823          B
2145                  2010 United States census  1179393707         FA
2211                                     Denver  1180303115          B
2419                  2020 United States census  1179894823          B
2513                     County (United States)  1178988667         GA
2756                                      Miami  1180007550          B
2925                     County (United States)  1178988667         GA
2953                                    Atlanta  1180354680          B
3094                              Echols County    16382631       Stub
3553                              Wailua, Kauai   803250531       Stub
5114                               Indianapolis  1180366813         GA
5680                     County (United States)  1178988667         GA
7409                                New Orleans  1179759908         FA
8185                                     Boston  1180302792         GA
8346                                  Nantucket  1174693890          C
8501                          Hyde Park, Boston  1178953336          C
8962                                    Detroit  1180359070          B
10275                               Minneapolis  1180259360         FA
12174                      Riverview, St. Louis  1174574032       Stub
12239                                 St. Louis  1178596053         GA
12516                                 Las Vegas  1179264293         GA
13430                                Population  1179591354          C
13431                               Square mile  1179747974      Start
13793                             New York City  1180180269          B
14027                                Population  1179591354          C
14028                               Square mile  1179747974      Start
14029  Federal Information Processing Standards  1172478013          C
14030     American National Standards Institute  1175882108          C
14031       Geographic Names Information System  1179447400          B
14044                        Eastwood, Syracuse   856685417       Stub
14093                                Population  1179591354          C
14094                               Square mile  1179747974      Start
14095                                Population  1179591354          C
14096                               Square mile  1179747974      Start
14097  Federal Information Processing Standards  1172478013          C
14098     American National Standards Institute  1175882108          C
14099       Geographic Names Information System  1179447400          B
15432                             Oklahoma City  1179249699          B
15748                              Philadelphia  1179132135         FA
15749                                Pittsburgh  1179872663          B
18924                    County (United States)  1178988667         GA
18925              Grand Divisions of Tennessee  1175359799          C
19271                    County (United States)  1178988667         GA
19272              Grand Divisions of Tennessee  1175359799          C
19273                                Population  1179591354          C
19274                 2020 United States census  1179894823          B
19275                 2010 United States census  1179393707         FA
20497                                Population  1179591354          C
20498                 2020 United States census  1179894823          B
20499                 2010 United States census  1179393707         FA
20703                            Salt Lake City  1180303893         GA
20755                 Wikipedia:Citation needed  1154207925          C
21513                                   Seattle  1180343250          B
21863                    County (United States)  1178988667         GA
21966                                 Milwaukee  1180038200          B
22054                    County (United States)  1178988667         GA

      cleaned_title
1062           None
1901           None
2029           None
2032           None
2144           None
2145           None
2211           None
2419           None
2513           None
2756           None
2925           None
2953           None
3094           None
3553           None
5114           None
5680           None
7409           None
8185           None
8346           None
8501           None
8962           None
10275          None
12174          None
12239          None
12516          None
13430          None
13431          None
13793          None
14027          None
14028          None
14029          None
14030          None
14031          None
14044          None
14093          None
14094          None
14095          None
14096          None
14097          None
14098          None
14099          None
15432          None
15748          None
15749          None
18924          None
18925          None
19271          None
19272          None
19273          None
19274          None
19275          None
20497          None
20498          None
20499          None
20703          None
20755          None
21513          None
21863          None
21966          None
22054          None

# Filtering out the rows that are not cities
Now, after getting the rows which don't have state name in them, we can see that there are few valis rows which are returned. Such as New York City, St. Louis, Riverview, St. Louis, etc. We have to get these rows back as these are relevant and remove the rest.

In [109]:
# List of known cities or use an external dataset for this purpose
known_cities = [
    "Los Angeles", "San Diego", "San Francisco", "Denver", "Miami", "Atlanta", "New Orleans", "Eastwood, Syracuse",
    "Boston", "Nantucket", "Hyde Park, Boston", "Detroit", "Minneapolis", "Philadelphia","Echols County","Riverview, St. Louis","Wailua, Kauai",
    "Pittsburgh", "Oklahoma City", "Salt Lake City", "Seattle", "Milwaukee", "Indianapolis", "St. Louis", "Las Vegas", "New York City", ""
]

# Filtering out the rows that are not cities
to_be_removed = df[df['cleaned_title'].isnull() & ~df['title'].isin(known_cities)]
to_be_removed

,title,rev_id,prediction,cleaned_title
1062,UtqiaÄ¡vik,1134590975,Stub,None
2144,2020 United States census,1179894823,B,None
2145,2010 United States census,1179393707,FA,None
2419,2020 United States census,1179894823,B,None
2513,County (United States),1178988667,GA,None
2925,County (United States),1178988667,GA,None
5680,County (United States),1178988667,GA,None
13430,Population,1179591354,C,None
13431,Square mile,1179747974,Start,None
14027,Population,1179591354,C,None
14028,Square mile,1179747974,Start,None
14029,Federal Information Processing Standards,1172478013,C,None
14030,American National Standards Institute,1175882108,C,None
14031,Geographic Names Information System,1179447400,B,None
14093,Population,1179591354,C,None
14094,Square mile,1179747974,Start,None
14095,Population,1179591354,C,None
14096,Square mile,1179747974,Start,None
14097,Federal Information Processing Standards,1172478013,C,None
14098,American National Standards Institute,1175882108,C,None
14099,Geographic Names Information System,1179447400,B,None
18924,County (United States),1178988667,GA,None
18925,Grand Divisions of Tennessee,1175359799,C,None
19271,County (United States),1178988667,GA,None
19272,Grand Divisions of Tennessee,1175359799,C,None
19273,Population,1179591354,C,None
19274,2020 United States census,1179894823,B,None
19275,2010 United States census,1179393707,FA,None
20497,Population,1179591354,C,None
20498,2020 United States census,1179894823,B,None
20499,2010 United States census,1179393707,FA,None
20755,Wikipedia:Citation needed,1154207925,C,None
21863,County (United States),1178988667,GA,None
22054,County (United States),1178988667,GA,None

In [110]:
to_be_removed.info()

<class 'pandas.core.frame.DataFrame'>
Index: 34 entries, 1062 to 22054
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          34 non-null     object
 1   rev_id         34 non-null     int64
 2   prediction     34 non-null     object
 3   cleaned_title  0 non-null      object
dtypes: int64(1), object(3)
memory usage: 1.3+ KB

## Filtering Out Non-US State Entries from the DataFrame
This section filters out rows from the DataFrame where the 'title' column does not contain a US state. It drops rows with None values in the 'title' column, presumably removing entries that do not correspond to cities in the United States. At the same time removing the additional field we created.

In [111]:
# Filtering out rows that do not contain a US state or are not US city or county
df = df[~df['title'].isin(to_be_removed['title'])]
df = df.drop('cleaned_title', axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22123 entries, 0 to 22156
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   title       22123 non-null  object
 1   rev_id      22123 non-null  int64
 2   prediction  22123 non-null  object
dtypes: int64(1), object(2)
memory usage: 691.3+ KB

## Saving Cleaned Data to a New CSV File
This part saves the cleaned DataFrame, which now contains only city and state information, to a new CSV file named 'cleaned_data.csv'. The index column is excluded from the saved data.

In [112]:
# Saving the cleaned data to a new CSV file
df.to_csv('../data/cleaned_data.csv', index=False)